@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  background-color: #F0F8FF;
}
/*base style*/
* {
  margin: 0;
}

/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-image: url("./img/iconic-nichebg.jpg");
  height: 200px;
}

.navbar .links {
  margin-left: auto;
}

.navbar h1 {
  color: white;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #5853aa;
}

/* Home */
.content-page {
  margin-left: 120px;
  margin-top: -150px;
  background-color: white;
  height: 500px;
  align-items: center;
  padding: 20px;
}

.niche-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.niche-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.niche-preview h2 {
  font-size: 20px;
  color: #5853aa;
  margin-bottom: 8px;
}

.niche-preview a{
  text-decoration: none;
}

.niche-details h2 {
  font-size: 20px;
  color: #5853aa;
  margin-bottom: 10px;
}
.niche-details div {
  margin: 20px 0;
}
.niche-details button {
  background: #5853aa;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #5853aa;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #5853aa;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

